laradock/
vendor/
node_modules/
nbproject/
resources/assets/vendor/
public/*/
.vscode/

*.sublime-project
*.sublime-workspace

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/services.php
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.idea
npm-debug.log
yarn-error.log
yarn.lock
app/DataTables/Scopes/
resources/views/enumerators/
resources/views/locations/
resources/views/voters/
