
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

table.dataTable thead .sorting_asc {
	    background-image: none !important;
}
table.dataTable thead .sorting {
	    background-image: none !important;
}
table.dataTable thead .sort_desc {
	    background-image: none !important;
}

.normal-text {
	font-style: normal;
	font-weight: normal;
}

.padleft {
	padding-left:25px;
}


.btn-float {
 
margin: 0;
 
position: fixed;
 
right: 0;
  
z-index: 100;
 
display: none;
 
text-decoration: none;
  
}

.btn-float-bottom {
	bottom: 0;
}

.btn-float-up {
	up: 0;
}